<h2>Author: <%= post.author.name %></h2>
<h3><%= post.body %></h3>
<h3>Comments</h3>
<ul>
	<% post.comments.forEach(function(item) { %>
		<li> <%= item.body %></li>
	<% })%>
</ul>
<h4>Add Comment</h4>
<form method='post' action='/post/<%=post.id%>'>
	<input type='text' name='author' placeholder="author">
	<textarea name='body' placeholder="comment"></textarea>
 <button type='submit'>Add</button>
</form>